:root {
  --color-primary: #f8d57e;
  --color-primary-contrast: #232323;
  --color-primary-dark: #232323;
  --color-primary-light: #fdf1d2;

  --color-mutated: lightgray;

  --link-color: #d684f9;

  --text-primary: #1b1b1b;
  --text-primary-dark: #232323;
  --text-primary-contrast: #d684f9;
  --text-mutated: gray;
  --text-error: #ff7676;

  --heading-primary: #232323;
  --heading-primary-contrast: #d684f9;

  --background-color: #fdfdfd;

  --card-color: #f5f7fa;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}
